.bodyContainer {
  height: 87vh;
  display: flex;
}

.banner {
  width: 50vw;
}

form {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 5px 15px;
  overflow-y: auto;
}

form button {
  width: 170px;
  padding: 8px;
  align-self: center;
  margin-top: 12px;
  border-radius: 10px;
  background-color: var(--dark-purple);
  font-size: 20px;
}

.submitButton:hover {
  filter: brightness(75%);
}

.formHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bodyContainer h1 {
  color: var(--ligh-black);
}
.formImage {
  width: 90px;
}

.formGroup {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 0.3rem 1rem;
}

label {
  align-self: start;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--ligh-black);
}

input,
select {
  width: 100%;
  padding: 0.45rem;
  padding-left: 1rem;
  border: 1px solid var(--black);
  border-radius: 1rem;
  background: var(--light-purple);
  font-weight: 600;
  color: #fff;
}

.errorMessage {
  align-self: center;
  color: red;
  font-size: 18px;
  font-weight: 700;
}

@media(max-width: 1250px) {
  .formGroup {
    width: 100%; 
  }
}

@media(max-width: 950px) {
  form {
    width: 90vw;
  }
  .banner {
    display: none;
  }
}
  